/* Battery example from https://codepen.io/nonggolf/pen/gOOvEeK */

#fronius2-wrapper {
    font-size: var(--font-size);
    color: var(--color-text);
    font-weight: normal;
    display: block;
    box-sizing: border-box !important;
}

.font-red {
    color: #c75646;
}

.font-green {
    color: #cdee69;
}

.italic {
    font-style: italic;
}
